/* --text: #f1fdfa;
--background: #000000;
--primary: #5fecc0;
--secondary: #031710;
--accent: #18cd94; */

body{
    background-color: #000000;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.board{
    background-color: #32715d;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    width: 620px;
    height: 620px;
    gap: 10px;
}
.box{
    background-color: #5fecc0 ;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 680px){
    .board{
        width: 310px;
        height: 310px;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        gap: 5px;
    }
    .box{
        height: 100px;
        width: 100px;
        font-size: 100px;
    }

}
